.home {
    &__container {
        &.-outer {
            max-width: 1321px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 93vh;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                90deg,
                rgba(242, 243, 244, 1) 0%,
                rgba(241, 241, 241, 1) 50%,
                rgba(255, 255, 255, 1) 100%
            );
        }

        &.-inner {
            .logo {
                width: 250px;
            }
        }

        .welcome {
            font-size: 50px;
            font-weight: 700;
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .products {
            font-size: 13px;
            color: rgba(0, 212, 255, 0.886);
        }
    }
}
