.home {
    &__container {
        &.-outer {
            max-width: 1321px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 93vh;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                to right,
                rgba(242, 243, 244, 1) 0%,
                rgb(245, 244, 244) 30%,
                rgba(255, 255, 255, 1) 100%
            );
        }

        &.-inner {
            .logo {
                width: 200px;
                opacity: 0.2 !important;
            }
        }

        .welcome {
            font-size: 50px;
            font-weight: 700;
            position: absolute;
            top: 56%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .products {
            font-size: 13px;
            color: rgba(0, 212, 255, 0.886);
        }

        ul {
            list-style: none;
            padding: 0;
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translate(-50%, -50%);

            > li {
                display: inline-block;
                margin: 0 20px;
            }

            .iphone-logo {
                width: 20px;
                opacity: 0.5;
            }

            .macbook-logo {
                width: 23px;
                opacity: 0.5;
            }

            .watch-logo {
                width: 15px;
                opacity: 0.5;
            }
        }
    }
}
