.watch {
    &__container {
        &.-outer {
            // max-width: 1321px !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 50vh;
            background: #fff;
            background: linear-gradient(
                to right,
                rgba(242, 243, 244, 1) 0%,
                rgb(255, 255, 255) 50%,
                rgba(255, 255, 255, 1) 100%
            );
        }

        &.-inner {
            .logo {
                width: 200px;
                opacity: 0.2 !important;
            }
        }
    }
}

.description {
    position: absolute;
    width: 400px;
    top: 18%;
    left: 9%;

    .watch {
        &__title {
            &.-red {
                color: red;
                font-weight: 700;
                font-size: 15px;
                margin-bottom: 25px;
                word-wrap: break-word;
            }

            &.-main {
                font-weight: 700;
                font-size: 50px;
                margin-bottom: 25px;
            }
        }

        &__description {
            color: rgb(161, 161, 161);
        }

        &__date {
            color: red;
            font-size: 10px;
        }
    }
}

.main-image {
    position: absolute;
    width: 300px;
    top: 18%;
    right: 22%;
    transition: ease all 0.5s;

    .watch-black {
        width: 500px;
    }
}

.price {
    position: absolute;
    width: 350px;
    bottom: 18%;
    left: 9%;

    .watch {
        &__price {
            color: rgb(179, 179, 179);
            font-weight: 700;
        }

        &__buy {
            color: red;
            font-weight: 500;
            font-size: 10px;
        }
    }
}

.display-watch {
    display: flex;
    position: absolute;
    bottom: 6%;
    right: 20%;

    .white {
        text-align: center;
        margin-right: 30px;
        cursor: pointer;

        ion-icon {
            font-size: 30px;
        }
    }

    .black {
        text-align: center;
        margin-left: 30px;
        cursor: pointer;

        ion-icon {
            font-size: 30px;
        }
    }
}

.watch-list {
    ul {
        list-style: none;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);

        > .icon {
            display: block;
            margin: 30px auto;
        }

        .iphone-logo {
            width: 20px;
            opacity: 0.5;
            transition: ease all 0.5s;
        }

        .iphone-logo:hover {
            transform: scale(1.12);
        }

        .macbook-logo {
            width: 23px;
            opacity: 0.5;
            transition: ease all 0.5s;
            margin: auto;
        }

        .macbook-logo:hover {
            transform: scale(1.12);
        }

        .watch-logo {
            width: 17px;
            opacity: 1;
            transition: ease all 0.5s;
        }
    }
}

//Transtion

.animate {
    transition: transform 0.35s ease-in-out;
}
